# Build directory and products
/build
/Makefile
/Digital_Generation*
/Digital Generation*
/config.dat

# Visual Studio
/Debug
/Release
/x64
/*.sln
/*.sdf
/*.suo
/*.opensdf
/*.vcxproj*
/ipch

# Temporary game data
/user
